div {
    position: absolute;
    width: 200px;
    height: 200px;
}
/* z-index allows specific elements to overlap each other 
the priority depends on the value */
#box1 {
    top: 50px;
    left: 50px;
    background-color: red;
    z-index: 1;
}

#box2 {
    top: 100px;
    left: 100px;
    background-color: blue;
    z-index: 2;
}
